{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Azure Application Insights client for ProactiveDetection configurations of a component.",
        "title": "ApplicationInsightsManagementClient",
        "version": "2015-05-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentProactiveDetection_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "applicationinsights-componentProactiveDetection_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs": {
            "get": {
                "description": "Gets a list of ProactiveDetection configurations of an Application Insights component.",
                "operationId": "ProactiveDetectionConfigurations_List",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list containing 0 or more ProactiveDetection configurations of an Application Insights component.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of ProactiveDetection configurations.",
                                    "items": {
                                        "description": "Properties that define a ProactiveDetection configuration.",
                                        "properties": {
                                            "CustomEmails": {
                                                "description": "Custom email addresses for this rule notifications",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "readOnly": false,
                                                "type": "array"
                                            },
                                            "Enabled": {
                                                "description": "A flag that indicates whether this rule is enabled by the user",
                                                "readOnly": false,
                                                "type": "boolean"
                                            },
                                            "LastUpdatedTime": {
                                                "description": "The last time this rule was updated",
                                                "readOnly": false,
                                                "type": "string"
                                            },
                                            "Name": {
                                                "description": "The rule name",
                                                "readOnly": false,
                                                "type": "string"
                                            },
                                            "RuleDefinitions": {
                                                "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
                                                "properties": {
                                                    "Description": {
                                                        "description": "The rule description",
                                                        "readOnly": false,
                                                        "type": "string"
                                                    },
                                                    "DisplayName": {
                                                        "description": "The rule name as it is displayed in UI",
                                                        "readOnly": false,
                                                        "type": "string"
                                                    },
                                                    "HelpUrl": {
                                                        "description": "URL which displays additional info about the proactive detection rule",
                                                        "readOnly": false,
                                                        "type": "string"
                                                    },
                                                    "IsEnabledByDefault": {
                                                        "description": "A flag indicating whether the rule is enabled by default",
                                                        "readOnly": false,
                                                        "type": "boolean"
                                                    },
                                                    "IsHidden": {
                                                        "description": "A flag indicating whether the rule is hidden (from the UI)",
                                                        "readOnly": false,
                                                        "type": "boolean"
                                                    },
                                                    "IsInPreview": {
                                                        "description": "A flag indicating whether the rule is in preview",
                                                        "readOnly": false,
                                                        "type": "boolean"
                                                    },
                                                    "Name": {
                                                        "description": "The rule name",
                                                        "readOnly": false,
                                                        "type": "string"
                                                    },
                                                    "SupportsEmailNotifications": {
                                                        "description": "A flag indicating whether email notifications are supported for detections for this rule",
                                                        "readOnly": false,
                                                        "type": "boolean"
                                                    }
                                                },
                                                "readOnly": false,
                                                "type": "object"
                                            },
                                            "SendEmailsToSubscriptionOwners": {
                                                "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
                                                "readOnly": false,
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object",
                                        "x-ms-azure-resource": true
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ProactiveDetectionConfigurationsList": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": [
                                    {
                                        "CustomEmails": [
                                            "foo@microsoft.com",
                                            "foo2@microsoft.com"
                                        ],
                                        "Enabled": true,
                                        "LastUpdatedTime": null,
                                        "Name": "slowpageloadtime",
                                        "RuleDefinitions": {
                                            "Description": "Smart Detection rules notify you of performance anomaly issues.",
                                            "DisplayName": "Slow page load time",
                                            "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                                            "IsEnabledByDefault": true,
                                            "IsHidden": false,
                                            "IsInPreview": false,
                                            "Name": "slowpageloadtime",
                                            "SupportsEmailNotifications": true
                                        },
                                        "SendEmailsToSubscriptionOwners": true
                                    },
                                    {
                                        "CustomEmails": [],
                                        "Enabled": true,
                                        "LastUpdatedTime": null,
                                        "Name": "slowpageloadtime",
                                        "RuleDefinitions": {
                                            "Description": "Smart Detection rules notify you of performance anomaly issues.",
                                            "DisplayName": "Slow server response time",
                                            "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                                            "IsEnabledByDefault": true,
                                            "IsHidden": false,
                                            "IsInPreview": false,
                                            "Name": "slowserverresponsetime",
                                            "SupportsEmailNotifications": true
                                        },
                                        "SendEmailsToSubscriptionOwners": true
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs/{ConfigurationId}": {
            "get": {
                "description": "Get the ProactiveDetection configuration for this configuration id.",
                "operationId": "ProactiveDetectionConfigurations_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ProactiveDetection configuration ID. This is unique within a Application Insights component.",
                        "in": "path",
                        "name": "ConfigurationId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The ProactiveDetection configuration for this configuration id.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Properties that define a ProactiveDetection configuration.",
                                    "properties": {
                                        "CustomEmails": {
                                            "description": "Custom email addresses for this rule notifications",
                                            "items": {
                                                "type": "string"
                                            },
                                            "readOnly": false,
                                            "type": "array"
                                        },
                                        "Enabled": {
                                            "description": "A flag that indicates whether this rule is enabled by the user",
                                            "readOnly": false,
                                            "type": "boolean"
                                        },
                                        "LastUpdatedTime": {
                                            "description": "The last time this rule was updated",
                                            "readOnly": false,
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The rule name",
                                            "readOnly": false,
                                            "type": "string"
                                        },
                                        "RuleDefinitions": {
                                            "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
                                            "properties": {
                                                "Description": {
                                                    "description": "The rule description",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "DisplayName": {
                                                    "description": "The rule name as it is displayed in UI",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "HelpUrl": {
                                                    "description": "URL which displays additional info about the proactive detection rule",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "IsEnabledByDefault": {
                                                    "description": "A flag indicating whether the rule is enabled by default",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                },
                                                "IsHidden": {
                                                    "description": "A flag indicating whether the rule is hidden (from the UI)",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                },
                                                "IsInPreview": {
                                                    "description": "A flag indicating whether the rule is in preview",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                },
                                                "Name": {
                                                    "description": "The rule name",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "SupportsEmailNotifications": {
                                                    "description": "A flag indicating whether email notifications are supported for detections for this rule",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                }
                                            },
                                            "readOnly": false,
                                            "type": "object"
                                        },
                                        "SendEmailsToSubscriptionOwners": {
                                            "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
                                            "readOnly": false,
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ProactiveDetectionConfigurationGet": {
                        "parameters": {
                            "ConfigurationId": "slowpageloadtime",
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "CustomEmails": [
                                        "foo@microsoft.com",
                                        "foo2@microsoft.com"
                                    ],
                                    "Enabled": true,
                                    "LastUpdatedTime": null,
                                    "Name": "slowpageloadtime",
                                    "RuleDefinitions": {
                                        "Description": "Smart Detection rules notify you of performance anomaly issues.",
                                        "DisplayName": "Slow page load time",
                                        "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                                        "IsEnabledByDefault": true,
                                        "IsHidden": false,
                                        "IsInPreview": false,
                                        "Name": "slowpageloadtime",
                                        "SupportsEmailNotifications": true
                                    },
                                    "SendEmailsToSubscriptionOwners": true
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Update the ProactiveDetection configuration for this configuration id.",
                "operationId": "ProactiveDetectionConfigurations_Update",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ProactiveDetection configuration ID. This is unique within a Application Insights component.",
                        "in": "path",
                        "name": "ConfigurationId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The ProactiveDetection configuration that was successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Properties that define a ProactiveDetection configuration.",
                                    "properties": {
                                        "CustomEmails": {
                                            "description": "Custom email addresses for this rule notifications",
                                            "items": {
                                                "type": "string"
                                            },
                                            "readOnly": false,
                                            "type": "array"
                                        },
                                        "Enabled": {
                                            "description": "A flag that indicates whether this rule is enabled by the user",
                                            "readOnly": false,
                                            "type": "boolean"
                                        },
                                        "LastUpdatedTime": {
                                            "description": "The last time this rule was updated",
                                            "readOnly": false,
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The rule name",
                                            "readOnly": false,
                                            "type": "string"
                                        },
                                        "RuleDefinitions": {
                                            "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
                                            "properties": {
                                                "Description": {
                                                    "description": "The rule description",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "DisplayName": {
                                                    "description": "The rule name as it is displayed in UI",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "HelpUrl": {
                                                    "description": "URL which displays additional info about the proactive detection rule",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "IsEnabledByDefault": {
                                                    "description": "A flag indicating whether the rule is enabled by default",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                },
                                                "IsHidden": {
                                                    "description": "A flag indicating whether the rule is hidden (from the UI)",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                },
                                                "IsInPreview": {
                                                    "description": "A flag indicating whether the rule is in preview",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                },
                                                "Name": {
                                                    "description": "The rule name",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "SupportsEmailNotifications": {
                                                    "description": "A flag indicating whether email notifications are supported for detections for this rule",
                                                    "readOnly": false,
                                                    "type": "boolean"
                                                }
                                            },
                                            "readOnly": false,
                                            "type": "object"
                                        },
                                        "SendEmailsToSubscriptionOwners": {
                                            "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
                                            "readOnly": false,
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ProactiveDetectionConfigurationUpdate": {
                        "parameters": {
                            "ConfigurationId": "slowpageloadtime",
                            "ProactiveDetectionProperties": {
                                "CustomEmails": [
                                    "foo@microsoft.com",
                                    "foo2@microsoft.com"
                                ],
                                "Enabled": true,
                                "LastUpdatedTime": null,
                                "Name": "slowpageloadtime",
                                "RuleDefinitions": {
                                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                                    "DisplayName": "Slow page load time",
                                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                                    "IsEnabledByDefault": true,
                                    "IsHidden": false,
                                    "IsInPreview": false,
                                    "Name": "slowpageloadtime",
                                    "SupportsEmailNotifications": true
                                },
                                "SendEmailsToSubscriptionOwners": true
                            },
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "CustomEmails": [
                                        "foo@microsoft.com",
                                        "foo2@microsoft.com"
                                    ],
                                    "Enabled": true,
                                    "LastUpdatedTime": null,
                                    "Name": "slowpageloadtime",
                                    "RuleDefinitions": {
                                        "Description": "Smart Detection rules notify you of performance anomaly issues.",
                                        "DisplayName": "Slow page load time",
                                        "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                                        "IsEnabledByDefault": true,
                                        "IsHidden": false,
                                        "IsInPreview": false,
                                        "Name": "slowpageloadtime",
                                        "SupportsEmailNotifications": true
                                    },
                                    "SendEmailsToSubscriptionOwners": true
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Properties that define a ProactiveDetection configuration.",
                                "properties": {
                                    "CustomEmails": {
                                        "description": "Custom email addresses for this rule notifications",
                                        "items": {
                                            "type": "string"
                                        },
                                        "readOnly": false,
                                        "type": "array"
                                    },
                                    "Enabled": {
                                        "description": "A flag that indicates whether this rule is enabled by the user",
                                        "readOnly": false,
                                        "type": "boolean"
                                    },
                                    "LastUpdatedTime": {
                                        "description": "The last time this rule was updated",
                                        "readOnly": false,
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The rule name",
                                        "readOnly": false,
                                        "type": "string"
                                    },
                                    "RuleDefinitions": {
                                        "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
                                        "properties": {
                                            "Description": {
                                                "description": "The rule description",
                                                "readOnly": false,
                                                "type": "string"
                                            },
                                            "DisplayName": {
                                                "description": "The rule name as it is displayed in UI",
                                                "readOnly": false,
                                                "type": "string"
                                            },
                                            "HelpUrl": {
                                                "description": "URL which displays additional info about the proactive detection rule",
                                                "readOnly": false,
                                                "type": "string"
                                            },
                                            "IsEnabledByDefault": {
                                                "description": "A flag indicating whether the rule is enabled by default",
                                                "readOnly": false,
                                                "type": "boolean"
                                            },
                                            "IsHidden": {
                                                "description": "A flag indicating whether the rule is hidden (from the UI)",
                                                "readOnly": false,
                                                "type": "boolean"
                                            },
                                            "IsInPreview": {
                                                "description": "A flag indicating whether the rule is in preview",
                                                "readOnly": false,
                                                "type": "boolean"
                                            },
                                            "Name": {
                                                "description": "The rule name",
                                                "readOnly": false,
                                                "type": "string"
                                            },
                                            "SupportsEmailNotifications": {
                                                "description": "A flag indicating whether email notifications are supported for detections for this rule",
                                                "readOnly": false,
                                                "type": "boolean"
                                            }
                                        },
                                        "readOnly": false,
                                        "type": "object"
                                    },
                                    "SendEmailsToSubscriptionOwners": {
                                        "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
                                        "readOnly": false,
                                        "type": "boolean"
                                    }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                            }
                        }
                    },
                    "description": "Properties that need to be specified to update the ProactiveDetection configuration.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApplicationInsightsComponentProactiveDetectionConfiguration": {
                "description": "Properties that define a ProactiveDetection configuration.",
                "properties": {
                    "CustomEmails": {
                        "description": "Custom email addresses for this rule notifications",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": false,
                        "type": "array"
                    },
                    "Enabled": {
                        "description": "A flag that indicates whether this rule is enabled by the user",
                        "readOnly": false,
                        "type": "boolean"
                    },
                    "LastUpdatedTime": {
                        "description": "The last time this rule was updated",
                        "readOnly": false,
                        "type": "string"
                    },
                    "Name": {
                        "description": "The rule name",
                        "readOnly": false,
                        "type": "string"
                    },
                    "RuleDefinitions": {
                        "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
                        "properties": {
                            "Description": {
                                "description": "The rule description",
                                "readOnly": false,
                                "type": "string"
                            },
                            "DisplayName": {
                                "description": "The rule name as it is displayed in UI",
                                "readOnly": false,
                                "type": "string"
                            },
                            "HelpUrl": {
                                "description": "URL which displays additional info about the proactive detection rule",
                                "readOnly": false,
                                "type": "string"
                            },
                            "IsEnabledByDefault": {
                                "description": "A flag indicating whether the rule is enabled by default",
                                "readOnly": false,
                                "type": "boolean"
                            },
                            "IsHidden": {
                                "description": "A flag indicating whether the rule is hidden (from the UI)",
                                "readOnly": false,
                                "type": "boolean"
                            },
                            "IsInPreview": {
                                "description": "A flag indicating whether the rule is in preview",
                                "readOnly": false,
                                "type": "boolean"
                            },
                            "Name": {
                                "description": "The rule name",
                                "readOnly": false,
                                "type": "string"
                            },
                            "SupportsEmailNotifications": {
                                "description": "A flag indicating whether email notifications are supported for detections for this rule",
                                "readOnly": false,
                                "type": "boolean"
                            }
                        },
                        "readOnly": false,
                        "type": "object"
                    },
                    "SendEmailsToSubscriptionOwners": {
                        "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
                        "readOnly": false,
                        "type": "boolean"
                    }
                },
                "type": "object",
                "x-ms-azure-resource": true
            },
            "ApplicationInsightsComponentProactiveDetectionConfigurationListResult": {
                "description": "A list of ProactiveDetection configurations.",
                "items": {
                    "description": "Properties that define a ProactiveDetection configuration.",
                    "properties": {
                        "CustomEmails": {
                            "description": "Custom email addresses for this rule notifications",
                            "items": {
                                "type": "string"
                            },
                            "readOnly": false,
                            "type": "array"
                        },
                        "Enabled": {
                            "description": "A flag that indicates whether this rule is enabled by the user",
                            "readOnly": false,
                            "type": "boolean"
                        },
                        "LastUpdatedTime": {
                            "description": "The last time this rule was updated",
                            "readOnly": false,
                            "type": "string"
                        },
                        "Name": {
                            "description": "The rule name",
                            "readOnly": false,
                            "type": "string"
                        },
                        "RuleDefinitions": {
                            "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
                            "properties": {
                                "Description": {
                                    "description": "The rule description",
                                    "readOnly": false,
                                    "type": "string"
                                },
                                "DisplayName": {
                                    "description": "The rule name as it is displayed in UI",
                                    "readOnly": false,
                                    "type": "string"
                                },
                                "HelpUrl": {
                                    "description": "URL which displays additional info about the proactive detection rule",
                                    "readOnly": false,
                                    "type": "string"
                                },
                                "IsEnabledByDefault": {
                                    "description": "A flag indicating whether the rule is enabled by default",
                                    "readOnly": false,
                                    "type": "boolean"
                                },
                                "IsHidden": {
                                    "description": "A flag indicating whether the rule is hidden (from the UI)",
                                    "readOnly": false,
                                    "type": "boolean"
                                },
                                "IsInPreview": {
                                    "description": "A flag indicating whether the rule is in preview",
                                    "readOnly": false,
                                    "type": "boolean"
                                },
                                "Name": {
                                    "description": "The rule name",
                                    "readOnly": false,
                                    "type": "string"
                                },
                                "SupportsEmailNotifications": {
                                    "description": "A flag indicating whether email notifications are supported for detections for this rule",
                                    "readOnly": false,
                                    "type": "boolean"
                                }
                            },
                            "readOnly": false,
                            "type": "object"
                        },
                        "SendEmailsToSubscriptionOwners": {
                            "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
                            "readOnly": false,
                            "type": "boolean"
                        }
                    },
                    "type": "object",
                    "x-ms-azure-resource": true
                },
                "type": "array"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "ConfigurationId": {
                "description": "The ProactiveDetection configuration ID. This is unique within a Application Insights component.",
                "in": "path",
                "name": "ConfigurationId",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceGroupNameParameter": {
                "description": "The name of the resource group.",
                "in": "path",
                "name": "resourceGroupName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceNameParameter": {
                "description": "The name of the Application Insights component resource.",
                "in": "path",
                "name": "resourceName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The Azure subscription ID.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}